.map-overlay {
  /* font: 16px 'Helvetica Neue', Arial, Helvetica, sans-serif; */
  background-image: url("http://www.clker.com/cliparts/D/m/V/S/V/o/yellow-post-it-md.png");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  color: #353839;
  font-family: sans-serif;
  font-size: 14px;
  font-style: normal;
  /* font-variant: small-caps; */
  /* font-weight: 900; */
  line-height: 14px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: absolute;
  bottom: 80px;
  right: 10px;
  width: 200px;
  height: auto;
  padding: 5% 2% 2% 2%;
  display: none;
  z-index: 1;
  word-wrap: break-word;
}

.map-chart {
  /* font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif; */
  /* background-color: #f0ead6; */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: absolute;
  top: 55%;
  right: 40px;
  font-weight: bold;
  z-index: 2;
  width: 18%;
  height: 100px;
  /* padding: 10px; */
  display: none;
  padding: 0 0 10% 0;
}

@media only screen and (max-width: 800px) {
  .map-chart {
    top: 47%;
  }
}

.chart-title2 {
  position: absolute;
  width: 18%;
  bottom: 42%;
  color: #353839;
  right: .5%;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  z-index: 3;
  display: none;
}

/* #chart-title {
  margin: 50% 2.5% 3% 0;
} */

@media only screen and (max-width: 800px) {
  #chart-title {
    bottom: 53%;
    right: 4.5%;
  }
}

@media only screen and (max-width: 500px) {
  #chart-title {
    bottom: 53%;
    right: 13%;
  }
}

h1 {
  font-family: Yellowtail;
  font-size: 26px;
  font-style: italic;
  font-weight: 700;
  line-height: 32px;
  /* color: white; */
  text-decoration: underline;
  margin-bottom: 40px;
}
