// borders are for dev purposes
.compareBody {
  background-color: rgb(203, 214, 205);
}


.main-content {
  width: 98%;
  height: 95vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  .left-panel {
    width: 58%;
  }
  .right-panel {
    margin: 0 0 0 0;
    width: 40%;
    height: 81%;
    border: 0px solid gray;
    .top-panel {
      height: 50%;
      border-bottom: 0px solid gray;
      background-color: #a1c8e9;
      border-bottom: 1px solid gray;
      }
      .bottom-panel {
        height: 50%;
        background-color: #a1c8e9;

      }
    }
  }
