.main-layout {
  // background: linear-gradient(-45deg, whitesmoke, #75CFF0);
  // background-size: 400% 400%;
  // -webkit-animation: Gradient 15s ease infinite;
  // -moz-animation: Gradient 15s ease infinite;
  // animation: Gradient 15s ease infinite;

  display: flex;
  justify-content: space-between;
  height: 92.9vh;
  font-family: "Rubik", sans-serif;
  margin: 0 auto;
  margin-top: 60px;
  @media (max-width: 800px) {
    flex-direction: column;
    width: 100%;
    margin: 0;
    height: 100vh;
  }
  .left-pane {
    padding: 1vh;
    height: 90vh;
    width: 67.5%;
    @media (max-width: 800px) {
      width: 100%;
      height: 60vh;
      padding: 0;
    }
  }
  .right-pane {
    overflow-y: scroll;
    width: 32.5%;
    height: 92.9vh;
    padding-right: 3px;
    // padding-left: 3px;
    // border-left: 1px solid rgba(128, 128, 128, 0.479);

    @media (max-width: 800px) {
      margin-top: 5px;
      width: 100%;
      border-left: none;
      overflow: visible;
    }
    header {
      display: flex;
      justify-content: space-between;
      height: 30px;
      border-bottom: 1px solid black;
      align-items: center;
      padding: 5px;
      padding-left: 0;
      padding-left: 2px;
      border-radius: 6px 6px 0 0;
      background: #ffffffb9;
      font-size: 18px;
      h2 {
        background: #2e64ab;
        padding: 5px 10px;
        text-align: center;
        border-radius: 6px;
        color: #fff;
        font-weight: bold;
        height: 17.5px;
        margin-left: 10px;
      }
      .chart-title {
        display: flex;
      }

      .toggle {
        display: flex;
        align-items: center;
        align-content: center;
        p {
          font-size: 13px;
          padding: 8px;
          border-radius: 6px;
          opacity: 0.7;
          margin-right: 3px;
          cursor: pointer;
          background: rgba(0, 0, 0, 0.05);
          margin-left: 3px;
        }
        p:hover {
          opacity: 1;
        }
        svg {
          animation-duration: 2.5s;
          animation-delay: 3s;
          animation-iteration-count: 1;
        }
      }
      h3 {
        font-weight: bold;
        span {
          color: #2eab6d;
        }
      }
    }

    .right-top,
    .right-middle {
      box-shadow: 0px 0px 3px 2px rgb(235, 235, 235);
      border-radius: 6px;
      margin: 5px;
      margin-top: 1vh;
      min-height: 400px;

      h2 {
        background: rgb(217, 49, 37);
      }

      .center-time-controls {
        display: flex;
        h3 {
          font-size: 14px;
        }
      }
      .chart {
        position: relative;
        h3 {
          text-align: center;
          padding: 10px 0 10px 0;
        }
        .middle {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 5%;
          text-align: center;
          margin-top: 10%;
          height: 200px;
        }
        .county {
          font-weight: bold;
          color: rgb(255, 115, 0);
        }
        .address {
          font-weight: bold;
          color: #2e64ab;
        }
        p {
          color: rgb(87, 87, 87);
          text-align: center;
          padding: 5px;
        }
        .msg {
          background: rgba(0, 0, 0, 0.05);
          border-radius: 4px;
          line-height: 1.3;
        }
        .carousel {
          width: 100%;
        }
        .loader {
          padding-top: 20%;
          text-align: center;
          line-height: 2;
        }
      }
    }
    .right-top {
      margin-top: 1.5vh;
    }
    .right-middle {
      margin-top: 1.5vh;
      h2 {
        background: rgb(217, 49, 37);
      }
    }
    .right-compare {
      h2 {
        background: #2eab6d;
      }
    }

    .right-bottom,
    .right-compare {
      background: rgb(235, 235, 235);
      margin: 5px;
      box-shadow: 0px 0px 3px 2px rgb(235, 235, 235);
      border-radius: 6px;
      margin-top: 1.5vh;
      min-height: 100px;
      background-color: #fff;

      .chart {
        .last-chart {
          height: 100%;
          width: 100%;
        }
      }
      header {
        a {
          background: rgba(0, 0, 0, 0.05);
          border: none;
          cursor: pointer;
          text-decoration: none;
          border-radius: 6px;
          font-size: 14px;
          text-align: center;
          padding: 8px 6px;
          width: 100px;
          color: #000;
          opacity: 0.7;
        }
        a:hover {
          opacity: 1;
          cursor: pointer;
        }
      }
      .locations {
        .locations-top {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
        }
        p {
          color: rgb(87, 87, 87);
          padding: 5px;
          margin-top: 20px;
          background: rgba(0, 0, 0, 0.05);
          border-radius: 4px;
        }
      }

      .main-compare-card {
        display: flex;
        justify-content: center;
        align-content: center;
        box-sizing: border-box;
        min-height: 100px;
        .top {
          width: 95%;
        }
        .middle {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 5%;
          height: 150px;
          text-align: center;
          line-height: 1.3;
        }
        .card {
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: flex-start;
          line-height: 1.2;
          details {
            border: none;
            font-size: 13px;
            padding: 1px 5px;
            margin: 1px auto;
            border-radius: 4px;
            background: rgba(0, 0, 0, 0.05);
            padding: 5px 10px;
            width: 100%;

            form {
              border-top: 1px solid rgb(99, 99, 99);
              margin-top: 5px;
              height: 165px;
              display: flex;
              align-content: center;
              align-items: center;
              justify-content: space-evenly;
              .options {
                width: 200px;
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                button {
                  width: 100px;
                }
              }
              .notes {
                border-left: 1px solid gray;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                align-items: flex-start;
                width: 65%;
                height: 95%;
                p {
                  padding-left: 15px;
                }

                div {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
                h4 {
                  padding-bottom: 0;
                }
                input {
                  margin-left: 15px;
                  padding: 7.5px;
                  width: 70%;
                  border-radius: 22px;
                  border: none;
                  background-color: #dfdfdf;
                  outline: none;
                }

                input:focus {
                  background: rgb(212, 212, 212);
                }
                button {
                  width: 100px;
                }
              }
              h4 {
                font-weight: bold;
                padding: 15px;
              }
              button {
                border: none;
                text-decoration: none;
                font-weight: bold;
                font-size: 14px;
                padding: 5px 10px;
                margin: 0 15px;
                border-radius: 6px;
                transition: background-color 0.5s ease;
                background: #7aadff;
                cursor: pointer;
                color: white;
              }
              button:hover {
                box-shadow: 0 0 3px #2579ff;
              }
            }
          }
          details[open] > summary::before {
            background: rgba(27, 31, 35, 0.5);
          }
          cursor: pointer;
          summary {
            outline: none;
            display: flex;
            align-items: center;
            .card-left {
              // width: 65px;
              width: 30px;
              .loggedin {
                background: red;
              }
            }
            .card-right {
              width: 15px;
            }
            width: 100%;
            background: none;
            border: none;
            display: flex;
          }
        }
        p {
          color: rgb(87, 87, 87);
          padding: 5px;
        }
        .loader {
          padding-top: 12%;
          padding-left: 45%;
        }
        .msg {
          background: rgba(0, 0, 0, 0.05);
          border-radius: 4px;
        }
      }
    }
    .right-compare {
      min-height: 300px;
      padding: 5px;
    }
    .footer {
      height: 12em;
      height: 10em;
      margin: 1.5vh 5px 5px 5px;
      padding: 5px;
      background-color: rgb(25, 25, 25);
      border-radius: 6px;
      background-color: rgb(179, 179, 179);
      @media (max-width: 800px) {
        margin: 1.5vh 0 0 0;
        height: 16em;
      }
      a {
        text-decoration: none;
        color: whitesmoke;
        justify-content: space-evenly;
      }
    }
  }
}

.dark {
  .right-pane {
    header {
      border-bottom: 1px solid #fff;
    }
    .right-top {
      box-shadow: none;
      background-color: #000000;
      h2 {
        color: #000;
      }

      .chart {
        p {
          color: #fff;
        }
      }
    }
    .right-bottom {
      box-shadow: none;
      background-color: #000000;

      h2 {
        color: #000;
        font-weight: bold;
        height: 17.5px;
      }

      .main-compare-card {
        p {
          color: #fff;
        }
      }
    }
  }
}
@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
