.main-layout {
  display: flex;
  justify-content: space-between;
  height: 90vh;
  padding: 1vh;
  font-family: "Rubik", sans-serif;
  @media (max-width: 800px) {
    flex-direction: column;
  }
  .left-pane {
    height: 89vh;
    width: 65%;
    @media (max-width: 800px) {
      width: 100%;
      height: 65vh;
    }
  }
  .right-pane {
    overflow-y: scroll;
    border-radius: 20px;
    width: 34%;
    border-radius: 6px 6px 0 0;
    @media (max-width: 800px) {
      margin-top: 15px;
      width: 100%;
    }
    header {
      display: flex;
      justify-content: space-between;
      height: 40px;
      border-bottom: 1px solid black;
      align-items: center;
      padding-bottom: 5px;
      h3 {
        font-weight: bold;
        span {
          color: #2eab6d;
        }
      }
    }

    .right-top {
      box-shadow: 0px 0px 3px 2px rgb(235, 235, 235);
      border-radius: 6px;
      margin: 5px;
      padding: 5px;
      height: 60%;
      background-color: #fff;

      h2 {
        padding: 2px;
        background: #2e86ab;
        width: 100px;
        text-align: center;
        border-radius: 22px;
        color: white;
        font-weight: bold;
        height: 17.5px;
      }
    }
    .right-top:hover,
    .right-bottom:hover {
      box-shadow: 0px 0px 3px 2px rgb(221, 221, 221);
    }
    .right-bottom {
      margin: 5px;
      box-shadow: 0px 0px 3px 2px rgb(235, 235, 235);
      border-radius: 6px;
      padding: 5px;
      margin-top: 1.5vh;
      height: 30%;
      background-color: #fff;

      header {
        height: 40px;
        a {
          color: #2d7ff9;
          cursor: pointer;
          width: 30%;
          text-decoration: none;
          background-color: #2d7ff9;
          border-radius: 22px;
          color: white;
          font-size: 14px;
          text-align: center;
          padding: 4px 6px;
          box-shadow: 0px 0px 4px 2px rgb(221, 221, 221);
        }
      }
      h2 {
        padding: 2px;
        background: #f24236;
        width: 100px;
        text-align: center;
        border-radius: 22px;
        color: white;
        font-weight: bold;
        height: 17.5px;
      }

      .main-compare-card {
        display: flex;
        justify-content: center;
        align-content: center;
        .top {
          width: 80%;
        }
        .card {
          font-size: 13px;
          padding: 3px;
          margin: 0 auto;
          border-radius: 6px;
          border: 1px solid rgba(128, 128, 128, 0.384);
          margin-top: 5px;
        }
        p {
          margin: 20% auto;
          text-align: center;
          color: rgb(87, 87, 87);
        }
      }
    }
    .footer {
      height: 100px;
      background-color: red;
      margin: 5px;
      margin-top: 10px;
      padding: 5px;
      background-color: rgb(179, 179, 179);
    }
  }
}

.dark {
  .right-pane {
    header {
      border-bottom: 1px solid #fff;
    }
    .right-top {
      box-shadow: 0px 0px 3px 2px #555454;
      background-color: #555454;

      h2 {
        color: #000;
      }
    }
    .right-top:hover,
    .right-bottom:hover {
      box-shadow: 0px 0px 3px 2px #646464;
    }
    .right-bottom {
      box-shadow: 0px 0px 3px 2px #555454;
      background-color: #555454;
      h2 {
        color: #000;
        font-weight: bold;
        height: 17.5px;
      }
    }
  }
}
