.homeBody {
  background-color:  #CAD2D3;
}

.main-content {
  width: 98%;
  height: 88vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  .left-panel {
    width: 58%;
    height: 90%;
  }
  .right-panel {
    width: 40%;
    height: 100%;
    border: 1px solid rgb(0, 132, 255);
    border-radius: 0px;
    .top-panel {
      height: 50%;
      border-bottom: 1px solid rgb(0, 132, 255);
    }
    .bottom-panel {
      height: 50%;
    }
  }
}
