.main-layout {
  display: flex;
  justify-content: space-between;
  height: 92.9vh;
  font-family: "Rubik", sans-serif;
  margin: 0 auto;
  margin-top: 7vh;
  @media (max-width: 800px) {
    flex-direction: column;
    width: 100%;
    margin: 0;
    height: 100vh;
  }
  .left-pane {
    padding: 1vh;
    height: 90vh;
    width: 65%;
    @media (max-width: 800px) {
      width: 100%;
      height: 60vh;
      padding: 0;
    }
  }
  .right-pane {
    overflow-y: scroll;
    width: 35%;
    height: 92.75vh;
    padding-right: 5px;
    // border-left: 1px solid rgba(128, 128, 128, 0.479);
    margin-top: 2px;
    @media (max-width: 800px) {
      margin-top: 5px;
      width: 100%;
      border-left: none;
      overflow: visible;
    }
    header {
      display: flex;
      justify-content: space-between;
      height: 40px;
      border-bottom: 1px solid black;
      align-items: center;
      padding: 2px;
      padding-left: 2px;
      border-radius: 6px 6px 0 0;
      background: #ffffffb9;
      font-size: 18px;
      h2 {
        background: #2e64ab;
        padding: 5px 10px;
        text-align: center;
        border-radius: 6px;
        color: #fff;
        font-weight: bold;
        height: 17.5px;
        margin-left: 10px;
      }

      .toggle {
        svg {
          animation-duration: 2.5s;
          animation-delay: 3s;
          animation-iteration-count: 1;
        }
      }
      h3 {
        font-weight: bold;
        span {
          color: #2eab6d;
        }
      }
    }

    .right-top {
      box-shadow: 0px 0px 3px 2px rgb(235, 235, 235);
      border-radius: 6px;
      margin: 5px;
      margin-top: 1vh;
      min-height: 420px;
      background-color: #fff;

      .chart {
        position: relative;
        p {
          color: rgb(87, 87, 87);
          text-align: center;
          padding: 5px;
          margin: 17.5% 9% 0 9%;
        }
        .msg {
          background: rgba(0, 0, 0, 0.05);
          border-radius: 4px;
        }
        .carousel {
          width: 100%;
        }
        .loader {
          padding-top: 30%;
        }
      }
    }
    .right-bottom {
      margin: 5px;
      box-shadow: 0px 0px 3px 2px rgb(235, 235, 235);
      border-radius: 6px;
      margin-top: 2vh;
      min-height: 300px;
      header {
        a {
          background: rgba(0, 0, 0, 0.05);
          border: none;
          cursor: pointer;
          text-decoration: none;
          border-radius: 6px;
          font-size: 14px;
          text-align: center;
          padding: 8px 6px;
          width: 100px;
          color: #000;
          opacity: 0.7;
        }
        a:hover {
          opacity: 1;
          cursor: pointer;
        }
      }

      .main-compare-card {
        display: flex;
        justify-content: center;
        align-content: center;
        box-sizing: border-box;
        .top {
          width: 95%;
        }
        .card {
          font-size: 13px;
          padding: 3px;
          margin: 8px auto;
          border-radius: 4px;
          background: rgba(0, 0, 0, 0.05);
          display: flex;
          align-items: center;
          align-content: center;
          padding: 5px;
          cursor: pointer;
          button {
            background: none;
            border: none;
            display: flex;
          }
        }
        p {
          color: rgb(87, 87, 87);
          margin: 10% 9% 0 9%;
          text-align: center;
          padding: 5px;
        }
        .msg {
          background: rgba(0, 0, 0, 0.05);
          border-radius: 4px;
        }
      }
    }
    .footer {
      height: 155px;
      margin: 30px 2px 5px 5px;
      padding: 5px;
      background-color: rgb(25, 25, 25);
      border-radius: 6px;
      background-color: rgb(179, 179, 179);
      @media (max-width: 800px) {
        margin: 1.5vh 0 0 0;
      }
      a {
        text-decoration: none;
        color: whitesmoke;
        justify-content: space-evenly;
      }
    }
  }
}

.dark {
  .right-pane {
    header {
      border-bottom: 1px solid #fff;
    }
    .right-top {
      box-shadow: none;
      background-color: #000000;
      h2 {
        color: #000;
      }

      .chart {
        p {
          color: #fff;
        }
      }
    }
    .right-bottom {
      box-shadow: none;
      background-color: #000000;

      h2 {
        color: #000;
        font-weight: bold;
        height: 17.5px;
      }

      .main-compare-card {
        p {
          color: #fff;
        }
      }
    }
  }
}
