@import url('https://fonts.googleapis.com/css?family=Roboto');

.landingPage {
    background-image: url('../assets/landing-img2.jpg');
    height: 890px;
    background-position: center fixed;
    background-repeat: no-repeat fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.taglineSearch {
    color: white;
    font-size: 84px;
    // padding: 20% 0 0 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tagline {
    font-family: 'Roboto', sans-serif;
    // padding: 0 0 0 20%;
    align-self: center;
}

.subtagline {
    font-size: 24px;
    padding: 4% 0 0 22%; 
    align-self: center;
}

.landingSearchBox {
    border-radius: 2px; 
    width: 500px;
    height: 40px;
    // padding: 5% 0 15% 0;
}

.infoTitle {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
    display: flex;
    justify-content: center;
    margin: 2% 0 0 0;
}

.infoBoxes {
    height: 200px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 5% 0 0 0;

    .infoBox {
        width: 30%;
        height: 350px;
        background-color: black; 
        margin: 0 2% 2% 2%;
        border-radius: 4px;
    }
    
    .infoImage {
        width: 100%;
        height: 100%;
        border-radius: 4px;

        .img1 {
            background-image: url('../assets/map1.png');
            background-size: cover;
            width: 100%;
            height: 100%;
        }
        .img2 {
            background-image: url('../assets/map2.png');
            background-size: cover;
            width: 100%;
            height: 100%;
        }
        .img3 {
            background-image: url('../assets/map3.png');
            background-size: cover;
            width: 100%;
            height: 100%;
        }

    }
    
    .textBox {
        width: 100%;
        height: 350px;
        margin: 2% 0 0 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }
}