@import url("https://fonts.googleapis.com/css?family=Roboto");

$break-tablet: 800px;
$break-mobile: 500px;

.landingPage {
  background-image: url("../assets/landing-img2.jpg");
//   height: auto;
  background-position: center fixed;
  background-repeat: no-repeat fixed;
  background-size: 100%;
  display: flex;
  justify-content: center;
  height: 800px;
  @media screen and (max-width: $break-tablet) {
    max-width: 100%;
    background-repeat: no-repeat;
    height: 500px;
    padding: 5% 0 0 0;
}
@media screen and (max-width: $break-mobile) {
    background-repeat: no-repeat;
    padding: 22% 0 0 0;
    height: 300px;
}
}

.taglineSearch {
  color: white;
  font-size: 84px;
  // padding: 20% 0 0 35%;
  display: flex;
//   flex-direction: column;
  justify-content: center;
  @media screen and (max-width: $break-tablet) {
  }
  @media screen and (max-width: $break-mobile) {
  }
}

.tagline {
  font-family: "Ivar Headline", "Times New Roman, serif";
  font-size: 68px;
  padding: 20% 0 0 0;
  align-self: center;
  @media screen and (max-width: $break-tablet) {
    text-align: center;
    padding: 2% 0 0 0;
  }
  @media screen and (max-width: $break-mobile) {
      font-size: 50px;
      padding: 0 0 10% 0;
      height: 300px;
  }
}

.subtagline {
  font-size: 24px;
  font-family: "Open Sans", Tahoma, Geneva, sans-serif;
//   padding: 4% 0 0 22%;
  align-self: center;
  display: flex;
  justify-content: center;
  @media screen and (max-width: $break-tablet) {
  }
  @media screen and (max-width: $break-mobile) {
    margin: 10px 0 0 0;
  }
}
.topBtn {
    background-color: rgb(45, 45, 133);
    width: 200px;
    height: 10px;
    font-size: 24px;
    margin: 0 0 0 40%;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 8px;
    border: none;
    height: 50px;
    :hover {
        background-color: lightblue;
    }
    @media screen and (max-width: $break-tablet) {
        margin: 0 3% 0 0;
    }
    @media screen and (max-width: $break-mobile) {
    }
}

.landingSearchBar {
    display: none;
}

.landingSearchBox {
    display: none;
}

.marketingTitleBox {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 2% 0 0 0;

    .infoTitle {
        font-family: "Ivar Headline", "Times New Roman, serif";
        font-size: 48px;
        margin: 1% 0 0 0;
    }
    @media screen and (max-width: $break-tablet) {
        margin: 0 0 0 0;
    }
    @media screen and (max-width: $break-mobile) {
        display: none;
    }
}


    .infoBoxes {
        height: 200px;
        width: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        margin: 5% 0 0 0;
        @media screen and (max-width: $break-tablet) {
            
        }
        @media screen and (max-width: $break-mobile) {
            display: flex;
            flex-direction: column;
            margin: 25% 0 0 15%;
            padding: 30% 0 2% 2%;
        }
    
    
        .infoBox {
            width: 30%;
            height: 350px;
            background-color: black; 
            margin: 5% 2% 2% 2%;
            border-radius: 12px;
            background-color: white;
            // :hover {
            //     box-shadow: 0 5px 15px rgba(0,0,0,0.3)
            // }
            @media screen and (max-width: $break-tablet) {
                width: 75%;
                height: 75%;
            }
            @media screen and (max-width: $break-mobile) {
                margin: 2% 0 30% 0;
            }
            
        }
        
        .infoImage {
            width: 100%;
            height: 100%;
            border-radius: 12px;
            background-color: none;

            :hover {
                box-shadow: 0 5px 15px rgba(0,0,0,0.3)
            }
            @media screen and (max-width: $break-tablet) {
                
            }
            @media screen and (max-width: $break-mobile) {
            }
    
            .img1 {
                border-radius: 12px;
                background-image: url('../assets/floodRisk.png');
                background-size: cover;
                width: 100%;
                height: 100%;
                @media screen and (max-width: $break-tablet) {
                   
                }
                @media screen and (max-width: $break-mobile) {
                }
                
            }
            .img2 {
                border-radius: 12px;
                background-image: url('../assets/Damages.png');
                background-size: cover;
                width: 100%;
                height: 100%;
                @media screen and (max-width: $break-tablet) {
                }
                @media screen and (max-width: $break-mobile) {

                }
            }
            .img3 {
                border-radius: 12px;
                background-image: url('../assets/Deaths.png');
                background-size: cover;
                width: 100%;
                height: 100%;
                :hover {
                    box-shadow: 0 5px 15px rgba(0,0,0,0.3)
                }
                @media screen and (max-width: $break-tablet) {
                    
                }
                @media screen and (max-width: $break-mobile) {

                }
            }
    
        }
        
        .textBox {
            width: 100%;
            height: auto;
            margin: 2% 0 0 0;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            display: flex;
            flex-direction: column;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            @media screen and (max-width: $break-tablet) {
            }
            @media screen and (max-width: $break-mobile) {
            }
            .infoBoxTitle {
                font-weight: bold;
                padding: 2% 0 2% 0;
            }
            .infoBoxContent {
                padding: 0 0 0 0;
            }
        }
        .btnBox {
            width: 100px;
            height: auto;
            display: flex;
            justify-content: center;
            text-align: center;
            padding: 2% 0 5% 38%;
            margin: 0 0% 0 0;
            @media screen and (max-width: $break-tablet) {
                margin: 20px 5% 0 0;
                padding: 0 0 0 28%;
            }
            @media screen and (max-width: $break-mobile) {
                margin: 0% 0 0 0;
            } 
            .btn {
                background-color: rgb(45, 45, 133);
                color: white;
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                border: 1px lightgray solid;
                border-radius: 8px;
                height: 50px;
                width: 90px;
                font-size: 18px;
                :hover {
                    background-color: lightblue;
                }
                @media screen and (max-width: $break-tablet) {
                    // margin: 30px 0 0 0;
                }
                @media screen and (max-width: $break-mobile) {
                    margin: 0px 0 0 0;
                    // display: none;
                }
            }
        
        }
    }
  
