#map {
  height: 100%;
  width: 100%;
}

#menu {
  background: #fff;
  position: absolute;
  z-index: 1;
  top: 65px;
  left: 25px;
  width: 120px;
  height: 100px;
  border-radius: 4px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  a {
    color: rgba(0, 0, 0, 0.75);
    display: block;
    margin: 0;
    padding: 10px;
    text-align: center;
  }
}
