.map {
  height: 91vh;
  width: 100%;
  box-shadow: 0px 0px 3px 2px rgb(235, 235, 235);
  @media (max-width: 1000px) {
    height: 70vh;
    border-radius: 0;
  }
  :focus {
    outline: none;
  }

  border-radius: 6px;
  .mapboxgl-popup-content {
    font-size: 12px;
    border-radius: 6px;

    h3 {
      font-size: 13px;
      font-weight: 700;
    }
  }
}

#menu-a,
.controls {
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
  @media (max-width: 1000px) {
    a {
      height: 10px;
      padding: 0;
    }
    bottom: 60px;
  }
  h2 {
    font-weight: bold;
    font-size: 15px;
    background: #2e64ab;
    color: white;
    padding: 2px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 30px;
    width: 90px;
    border-radius: 4px 4px 0 0;
  }

  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
  border-radius: 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
  button {
    background: #fff;
    border: none;
    width: 90px;
    height: 50px;
    padding: 2px;
  }
  #compare {
    height: 54px;
  }
  #browse {
    a {
      height: 50px;
    }
  }

  // @media (max-width: 800px) {
  //   top: 82%;
  //   bottom: 10px;
  //   left: 25%;
  //   display: flex;
  //   width: 50%;
  //   flex-direction: column;
  // }

  a {
    display: flex;
    width: 90px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background: #fff;
    font-size: 12px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
    padding: 2px;
    text-align: center;
    border-bottom: 1px solid rgb(190, 190, 190);
    line-height: 1.3;
  }
  a:last-child {
    border-radius: 0 0 4px 4px;
  }
  a:hover {
    background: #f24236;
    color: white;
  }
  .active {
    background: #f24236;
    color: white;
  }
}

.controls {
  left: 120px;
  a {
    border-bottom: none;
    width: 90px;
  }
  button {
    width: 94px;
    border-bottom: 1px solid rgb(190, 190, 190);
  }
  button:hover {
    background: #f24236;
  }
}

#slider {
  -webkit-appearance: none;
  outline: none;
  border: 1px solid black;
  background: #fff;
  position: absolute;
  display: flex;
  top: 10px;
  left: 40%;
  width: 200px;
  z-index: 1;
  box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.75);
  padding: 7px;
  border-radius: 4px;
  opacity: 1;

  #menu-b {
    border: 1px solid black;
    background: #fff;
    position: absolute;
    display: flex;
    top: 10px;
    left: 40%;
    width: 200px;
    z-index: 1;
    box-shadow: 5px 5px 5px -3px rgba(0, 0, 0, 0.75);
    padding: 7px;
    border-radius: 4px;
  }
}

#time-mode {
  font-size: 14px;
  background: #fff;
  display: flex;
  justify-content: center;
  position: absolute;
  padding: 7px;
  z-index: 1;
  top: 10px;
  right: 40%;
  width: 200px;
  border-radius: 4px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

button {
  cursor: pointer;
}
