.map {
  height: 91vh;
  width: 100%;
  @media (max-width: 800px) {
    width: 100%;
    height: 60vh;
    border-radius: 0;
  }
  :focus {
    outline: none;
  }

  border-radius: 6px;
  .mapboxgl-popup-content {
    font-size: 12px;
    border-radius: 6px;
    h3 {
      font-size: 13px;
      font-weight: 700;
    }
  }
}

#menu-a {
  background: #fff;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
  width: 100px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.75);
  border: 1px solid black;
  // @media (max-width: 800px) {
  //   top: 82%;
  //   bottom: 10px;
  //   left: 25%;
  //   display: flex;
  //   width: 50%;
  //   flex-direction: column;
  // }
  a {
    border: 1px solid black;
    font-size: 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    padding: 3px;
    text-align: center;
  }
  a:first-child {
    border-radius: 4px 4px 0 0;
  }
  a:last-child {
    border-radius: 0 0 4px 4px;
  }
  a:hover {
    background: rgb(0, 132, 255);
    color: white;
  }
  .active {
    background: rgb(0, 132, 255);
    color: white;
  }
}

#slider{
  border: 1px solid black;
  background: #fff;
  position: absolute;
  display: flex;
  top: 10px;
  left:40%;
  width: 200px;
  z-index: 1;
  box-shadow: 5px 5px 5px -3px rgba(0,0,0,0.75);
  padding: 7px;
  border-radius: 4px;
}

#time-mode {
  font-size: 14px;
  background: #fff;
  display: flex;
  justify-content: center;
  position: absolute;
  padding: 7px;
  z-index: 1;
  top: 10px;
  right: 40%;
  width: 200px;
  border-radius: 4px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}
