.navbarb {
  background-color: #fff;
  font-size: 15px;
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #2e64ab;
  font-family: "Montserrat", sans-serif;
  position: fixed;
  top: 0;
  z-index: 10;
  @media (max-width: 800px) {
    height: 54px;
  }

  .mapboxgl-ctrl-geocoder .suggestions {
    z-index: 2;
  }

  .mapboxgl-ctrl-geocoder.mapboxgl-ctrl {
    width: 100%;
    box-shadow: none;
    background: #f1f4f3;
    margin-right: 0;
    @media (min-width: 640px) {
      max-width: 98.5%;
    }
    :focus {
      background: #f0f0f0;
      border-radius: 22px;
    }

    border-radius: 22px;
  }
  .geocoder {
    width: 100%;
  }
  button {
    background: none;
  }
  .icons {
    padding: 3px;
    border-radius: 50%;
    border: none;
    outline: none;
  }
  .nav {
    height: 100%;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .activeA {
      border-bottom: 2px solid #f24236;
      color: #000;
    }

    a {
      padding: 0 10px;
    }
    .center {
      width: 40%;
      display: flex;
      @media (max-width: 800px) {
        width: 60%;
      }
    }

    .left {
      font-size: 30px;
      font-family: "Itim", cursive;
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        text-decoration: none;
        color: #000;
        padding: 0 3px;
      }
    }
    .right {
      display: flex;
      align-items: center;
      @media (max-width: 800px) {
        display: none;
      }
      a {
        text-decoration: none;
        font-weight: bold;
        color: rgb(59, 59, 59);
        padding: 0;
        margin: 0 15px;
      }
      a:hover {
        border-bottom: 2px solid #f24236;
        color: #000;
      }
    }
  }
}

.dark {
  background-color: #353535;
  .nav {
    form {
      input {
        border: 1px solid rgba(128, 128, 128, 0.527);
        background-color: #7e7e7e;
      }
      input::placeholder {
        color: #fff;
      }
    }
    .left {
      color: #fff;
      a {
        color: #fff;
      }
    }
    .right {
      a {
        color: rgb(228, 228, 228);
      }
      a:hover {
        border-bottom: 2px solid #f2433680;
        color: #fff;
      }
    }
  }
}
