@import url('https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet');

$pacifico: "Pacifico", cursive;
$break-small: 500px;
$break-large: 800px;

.Navbar {
  display: flexbox;
  flex-flow: row;
  padding-left: 3%;
  padding: 10px 0;
  @media screen and (max-width: $break-small) {
    max-width: 500px;
    float: none;
  }
  @media screen and (max-width: $break-small) {
    max-width: 800px;
    float: none;
  }
  .nav-right {
    display: inherit;
    text-align: right;
    margin-top: -18px;
    a {
      margin: 0 2%;
    }
  }
  .nav-left {
    display: inherit;
    // may become unaligned
    text-align: left;
    a {
      margin: 0 2%;
    }
  }
}

.liveSafeBTN {
  @media screen and (max-width: 500px) {
    display: flex;
    margin: auto;
  }
}
